<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bootstrapper" version="2.0.3.9" targetFramework="net40" />
  <package id="CommonServiceLocator.SimpleInjectorAdapter" version="2.4.1" targetFramework="net40" />
  <package id="NuGet.PackageNPublish" version="0.8.0.2" targetFramework="net40" />
  <package id="Portable.CommonServiceLocator" version="1.2.2" targetFramework="net40" />
  <package id="SimpleInjector" version="2.4.1" targetFramework="net40" />
</packages>